@model PruebaFINAKTIVA.Models.MunicipalityRegion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MunicipalityRegion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipalitys.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipalitys.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MunicipalyRegionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
