@model PruebaFINAKTIVA.Models.municipios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>municipios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_mupio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_mupio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regiones.nombre_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regiones.nombre_region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo_mupio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
